<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :no %>
    <%= form.number_field :no, id: :user_no %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :kana %>
    <%= form.text_area :kana, id: :user_kana %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo, id: :user_memo %>
  </div>
  
  <!-- 部署選択 -->
  <div class="field">
    <%= form.label :division_id %>
    <%= form.collection_select( :division_id, @divisions, :id, :name ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
