<p id="notice"><%= notice %></p>

<h1>Show User</h1>

<p>
  <strong>No:</strong>
  <%= @user.no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Kana:</strong>
  <%= @user.kana %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @user.memo %>
</p>

<p>
  <strong>Division_id:</strong>
  <%= @user.division.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', reports_find_path %>

<p>
  <strong>Report</strong>
</p>

<p>
  <% @report.where("user_id == ?", @user.id).first(5).each.reverse_each do |report| %>
    <%= link_to report.entry_date, report_path %><br>
  <% end %>
</p>